apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    uid: P871D79E086F0BE18
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    version: 1
    editable: true
